*{margin: 0;
    font-family:sans-serif}

/*--------------------Button styles-----------------*/
.orange-button{
    background-color: rgb(216, 80, 6);
    color: white;
    padding: 20px 40px;
    border: 0;
    font-size: 20px;
    border-radius: 5px;
}
.white-button{
    background-color: white;
    color:rgb(216, 80, 6);
    padding: 20px 40px;
    border: 0;
    font-size: 20px;
    border-radius: 5px;

}


/*---------------step1:header------------------------*/
.bg-image{
    background-image: url(../images/banner/banner1.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 950px;
}
.header-style{
    text-align: right;
    padding: 250px 250px 0 1000px;
}
.header-style-p{
    color:gray;
    padding-bottom: 25px;
}
.header-style-h1{
    font-size: 70px;
    padding-bottom: 25px;
}
/*------------------------step 2----------------------*/
.step2-style{
    padding: 150px 250px 0 250px;
    display: flex;
}
.step2-style-div2{
    padding:200px 100px 0 100px;
}
.step2-style-h1{
    font-size: 40px;
}
.checklist{
    color:gray;
}

/*------------------------step 3---------------------*/
.step3-style{
    padding: 150px 250px 0 250px;
}
.step3-style-h1{
    text-align: center;
    font-size:40px;
}
.my-plans{
    text-align: center;
    padding: 50px 0;
    display: flex;
}
.my-plans-p{
    color:gray;
    font-size: 25px;
}
.my-plans-h1{
    font-size: 30px;
    padding:10px;
}
.my-plans-div{
    padding-left: 100px;
}
/*-----------------------step 4-----------------------*/
.step4-style{
    margin : 50px 350px 100px 350px;
}
.step4-style-div{
    background-image:linear-gradient(to right, rgb(216, 80, 6),rgb(0,0,0,.1)), url(../images/watch.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    height: 350px;
}
.step4-style-h1{
    font-size: 40px;
    padding: 100px 600px 20px 100px;
    color: white;
}
.step4-style-p{
    padding-left: 100px;
}
/*------------------------------step 5:my own section-------------------------*/

.step5-style{
    padding: 0 350px 100px 350px;
    text-align: right;
}
.bg-image3{
    background-image:url(../images/banner/lifestyle.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    border-radius: 10px;
    margin: 50px 0 20px 0;
}
.ul-style{
    list-style-type: none;
    text-align: right;
    font-size: 30px;
    color: gray;
    display: flex;
    gap: 350px;
}
/*-------------------------footer--------------------------*/
.footer-bg{
    background-color: rgb(19, 17, 17);
    color: white;
    display: flex;
}
.footer-left{
    padding: 150px 250px 150px 350px;
}
.footer-right{
    padding: 150px 350px 150px 0;
}
.email-style{
    padding: 20px 100px 20px 20px;
    color: white;
    background-color: rgb(19, 17, 17);
    border-color: white;
    border-radius: 10px;
    font-size: 20px;
}
